#bizon-slider {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 998;
	background: rgba(0,0,0,0.8);
}
#bizon-main-image {
	height: 92%;
	text-align: center;
	position: relative;
	overflow: hidden;
}
#bizon-main-image-wrapper {
	height: calc(100% - 20px);
	padding: 10px;
	overflow: hidden;
	display: inline-block;
}
#bizon-main-image-wrapper img {
    height: 100%;
    border-radius: 5px;
}

#bizon-thumbnails {
	height: 8%;
	display: flex;
	justify-content: center;
	background: rgba(255,255,255,0.1);
}
.bizon-thumb-wrapper {
	height: calc(100% - 10px);
	padding: 5px;
	overflow: hidden;
	background: #2a2a2a;
}
.bizon-thumb-wrapper-active {
	background: #c9c9c9;
}
.bizon-thumb-wrapper img {
	height:100%;
	border-radius: 5px;
}

.bizon-move-section {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 15%;
	display: flex;
	align-items: center;
	z-index: 999;
}
.bizon-move-section:hover {
	background: rgba(255, 255, 255, 0.05);
}

.bizon-move-section-left {
	left: 0;
	justify-content: left;
}

.bizon-move-section-right {
	right: 0;
	justify-content: right;
}

.bizon-move-arrow {
	width: 48px;
	height: 48px;
	overflow: hidden;
	cursor: pointer;
}
.bizon-move-arrow-left {
	background-image: url(images/icons/48/arrow-left.png);
}
.bizon-move-arrow-right {
	background-image: url(images/icons/48/arrow-right.png);
}

.bizon-close-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 48px;
	height: 48px;
	background-image: url(images/icons/48/close.png);
	cursor: pointer;
}

.bizon-move-section:hover .bizon-move-arrow,
.bizon-move-section:hover .bizon-close-button
{
	background-color: #AAA;
}

