@CHARSET "UTF-8";


.bizon {
	overflow: hidden;
	box-sizing: border-box;
	background: #2E221F; 
	/* disable selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.bizon-full-screen-container {
	position: fixed !important;
	left: 0 !important;
	right: 0 !important;
	top: 0 !important;
	bottom: 0 !important;
}
.bizon-image-wrapper {
	float: left;
	position: relative;
}
.bizon-image-wrapper img {
	position: absolute;
	display: block;
	cursor: pointer;
	top: 0;
}
.bizon-image-wrapper .bizon-arrow-right,
.bizon-image-wrapper .bizon-arrow-left,
.bizon-image-wrapper .bizon-close,
.bizon-image-wrapper .bizon-full-screen,
.bizon-image-wrapper .bizon-fb-like-wrapper,
.bizon-image-wrapper .bizon-pin-it-button-wrapper
{
	position: absolute;
	background-color: #000;
	opacity: 0.8;
	cursor: pointer;
	z-index: 10;
}
.bizon-image-wrapper .bizon-pin-it-button-wrapper {
	bottom: 10px;
	right: 60px;
	width: 40px;
	height: 20px;
}
.bizon-image-wrapper .bizon-fb-like-wrapper {
	bottom: 10px;
	right: 0;
	width: 50px;
	height: 20px;
}
.bizon-image-wrapper .bizon-arrow-right {
	top: 40%;
	right: 0;
	width: 36px;
	height: 36px;
	background: url("images/icons/32/arrow-right.png") 2px 2px no-repeat;
}
.bizon-image-wrapper .bizon-arrow-left {
	top: 40%;
	left: 0px;
	width: 36px;
	height: 36px;
	background: url("images/icons/32/arrow-left.png") 2px 2px no-repeat;
}
.bizon-image-wrapper .bizon-close {
	right: 0;
	top: 10px;
	width: 36px;
	height: 36px;
	background: url("images/icons/32/close.png") 2px 2px no-repeat;
}
.bizon-image-wrapper .bizon-full-screen {
	right: 40px;
	top: 10px;
	width: 36px;
	height: 36px;
	background: url("images/icons/32/view.png") 2px 2px no-repeat;
}
.bizon-image-wrapper .bizon-album-title,
.bizon-image-wrapper .bizon-image-title {
	display: none;
}



.bizon-image-wrapper .bizon-album-title:hover,
.bizon-image-wrapper .bizon-image-title:hover,
.bizon-image-wrapper .bizon-arrow-right:hover,
.bizon-image-wrapper .bizon-arrow-left:hover,
.bizon-image-wrapper .bizon-full-screen:hover,
.bizon-image-wrapper .bizon-close:hover {
	opacity: 1;
}

.bizon-small-images-wrapper {
	float: right;
	border-left: 1px solid #AAA;
	padding-left: 5px;
	background: #F7EDBF;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
}
.bizon-small-image-wrapper {
	display: inline-block;
}
.bizon-small-image-wrapper img {
	cursor: pointer;
	display: block;
}
	
.bizon-small-image-wrapper.bizon-active {
	background: #58351A ;
}




/* ******* b/w theme ******** */
.bizon {
	background: #111;

}
.bizon-small-images-wrapper {
	background: #111;
	border: none;
}
.bizon-small-image-wrapper.bizon-active {
	background: #C11;
}

